@model StudentRegistrationSys.Models.ViewModels.StudentResult
@using StudentRegistrationSys.Common

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        color: black;
    }
</style>
<div class="card m-3">
    <div class="card-body">
        <h1>Edit Student Result</h1>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <hr />


        <div class="basic-form">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="StudentId" class="control-label">Student</label>
                            <select id="student" class="form-control" asp-for="StudentId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetStudentList(Model.StudentId)">
                            </select>
                            <input type="hidden" asp-for="StudentId" />

                        </div>
                        <div class="form-group">
                            <label asp-for="YearLevelId" class="control-label">YearLevel</label>
                            <select id="year-level" class="form-control" asp-for="YearLevelId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetYearLevelList(Model.YearLevelId)">
                            </select>
                            <input type="hidden" asp-for="YearLevelId" />

                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6">

                        <div class="form-group">
                            <label asp-for="SemesterId" class="control-label">Semester</label>
                            <select id="semester" class="form-control" asp-for="SemesterId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetSemesterList(Model.SemesterId)">
                            </select>
                            <input type="hidden" asp-for="SemesterId" />

                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicYearId" class="control-label">AcademicYear</label>
                            <select id="academic-year" class="form-control" asp-for="AcademicYearId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetAcademicYearList(Model.AcademicYearId)">
                            </select>
                            <input type="hidden" asp-for="AcademicYearId" />

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table class="table table-bordered" id="student-course">
            <thead class="bg-primary" style="color:#fff;">
                <tr>
                    <td>Course Name</td>
                    <td>Grade</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody class="bg-light">
               @for (var i = 0;i < Model.StudentResultDetails.Count; i ++) {
                <tr>
                    <td><input type="text" id="coursename' + @i + '" asp-for="StudentResultDetails[i].CourseName" class="form-control"></td>
                    <td><input type="text" id="grade' + @i + '" asp-for="StudentResultDetails[i].Grade" class="form-control"></td>
                    <td><input type="text" id="description' + @i + '" asp-for="StudentResultDetails[i].Description" class="form-control"></td>
                </tr>
               }
            </tbody>
        </table>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" data-spinner-color="#fff" id="ladda-button" data-style="zoom-in" />
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

    $("form").submit(function (e) {
        e.preventDefault();
        var $form = $(this);
        var data = $form.serialize();
        var l = $('#ladda-button').ladda();
        l.ladda('start');
        swal({
            title: "Please Wait!",
            text: "Data Saving Time",
            type: "success",
            showCancelButton: false,
            showConfirmButton: false
        })
        setTimeout(function () {
            CheckLogin(data);
        },1500)
    });

    function CheckLogin(data) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("EditResult", "Result")',
            data: data,
            success: function (response) {
                console.log("dfdsfsf", response);
                if (response.status == "success") {
                    swal.close();
                    var l = $('#ladda-button').ladda();
                    l.ladda('stop');
                   
                    toastr.success(response.message);

                    window.location.href = '@Url.Action("Index", "Result")';
                }
                else {
                   // StopLoading();
                    swal.close();
                    var l = $('#ladda-button').ladda();
                    l.ladda('stop');
                    toastr.error(response.message);
                }
            }
        })
    }
    </script>
}



