@model StudentRegistrationSys.Models.ViewModels.SearchStudentResult
@using StudentRegistrationSys.Common
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_length select {
        border: 2px solid #7571f9ab;
    }

    .dataTables_filter input {
        border: 2px solid #7571f9ab;
    }

    tbody {
        color: black;
    }

    th {
        color: #fff;
    }
</style>

<input type="hidden" value="@ViewBag.Noti" id="hfNoti" />

<div class="card m-2">
    <div class="card-body" style="padding:1rem;">
        <h4>Filter Result</h4>
        <form asp-action="Search" asp-controller="Result" formaction="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="AcademicyearId" class="control-label">Academicyear</label>
                        <select id="ac-year" class="form-control" asp-for="AcademicyearId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetAcademicYearList(Model.SemesterId)">
                        </select>
                        <input type="hidden" asp-for="AcademicyearId" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="SemesterId" class="control-label">Semester</label>
                        <select id="semester" class="form-control" asp-for="SemesterId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetSemesterListForReport(Model.SemesterId)">
                        </select>
                        <input type="hidden" asp-for="SemesterId" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="YearlevelId" class="control-label">YearLevel</label>
                        <select id="year-level" class="form-control" asp-for="YearlevelId" asp-items="@(IEnumerable<SelectListItem>)clsDropdownhelper.GetYearLevelForReport(Model.YearlevelId)">
                        </select>
                        <input type="hidden" asp-for="YearlevelId" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group" style="margin-top:1.6rem;">
                        <input type="submit" value="View" class="btn btn-primary" data-spinner-color="#fff" id="ladda-button" data-style="zoom-in" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card m-2">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Student Result List</h1>
            <div>
                <button class="btn btn-outline-primary" id="excel">
                    <i class="bi bi-plus-circle"></i>&nbsp;
                    Import Excel
                </button>
                <button class="btn btn-outline-primary" id="create">
                    <i class="bi bi-plus-circle"></i>&nbsp;
                    Add New
                </button>
            </div>

        </div>

        <table id="myTable" class="tablentable-sm table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="bg-primary">
                    <th>
                        StudentName
                    </th>
                    <th>
                        AcademicYearName
                    </th>
                    <th>
                        YearLevelName
                    </th>
                    <th>
                        SemesterName
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(var i = 0 ; i < Model.studentResults.Count ; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.studentResults[i].StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.studentResults[i].AcademicYearName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.studentResults[i].YearLevelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.studentResults[i].SemesterName)
                        </td>
                        <td>
                            <a class="btn btn-outline-warning" asp-action="Edit" asp-controller="Result" asp-route-id="@Model.studentResults[i].Id" style="padding-top:0;padding-bottom:0;">
                                <span style="font-size:12px;"><i class="bi bi-pencil-square"></i>&nbsp;Manage</span>
                            </a>
                            <a class="btn btn-outline-warning" asp-action="Details" asp-controller="Result" asp-route-id="@Model.studentResults[i].Id" style="padding-top:0;padding-bottom:0;">
                                <span style="font-size:12px;"><i class="bi bi-pencil-square"></i>&nbsp;View</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>

<!--**********************************  Content body start ***********************************-->
<!--**********************************
    Content body end
***********************************-->
<!-- Page-Level Scripts -->
@section Scripts{
    <script>
        $(document).ready(function () {
             $('#myTable').DataTable({
                 "pageLength": 5,
                 "lengthMenu": [5,8, 10, 15]
            });
        });

        $("#create").click(function () {
            window.location.href = '@Url.Action("Create","Result")';
        });

         $("#excel").click(function () {
            window.location.href = '@Url.Action("ExportView", "Result")';
        });
    </script>
}





